{{>header}} 

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Cookie Recipes</h2>
    <h3>By Drew, originally by The Net Ninja</h3>
    <a href="/cookies" class="btn">View Recipes</a>
  </div>
</header>

{{>footer}} 